.card {
  @apply w-[369px] h-fit flex relative rounded-6 font-raleway overflow-clip bg-white;
}

.status {
  @apply w-[40px] absolute h-full flex justify-center items-center;
}

.status.published {
  @apply bg-status-published;
}

.status.scheduled {
  @apply bg-status-scheduled;
}

.status.needApproval {
  @apply bg-status-needApproval;
}

.status.error {
  @apply bg-status-error;
}

.status.notes {
  @apply bg-status-notes;
}

.channelIcon {
  @apply w-[20px] h-[20px] text-white;
}

.cardLayout {
  @apply flex-1 h-full flex flex-col ml-[40px] px-[22px] py-[28px] space-y-[16px];
}

.cardContent {
  @apply flex flex-col justify-between w-full space-y-[16px];
}

.cardInfo {
  @apply flex items-center justify-between;
}

.cardInfo > span {
  @apply text-card-time-color font-sans text-14 select-none;
}

.cardInfo > .actions {
  @apply flex items-center space-x-[16px];
}

.actionIcons {
  @apply w-[18px] h-[18px] text-card-time-color;
}

.cardText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  @apply text-card-text-color font-raleway font-bold
    text-14 select-none;
}

.cardText > a {
  @apply text-blue-500;
}

.cardImage {
  @apply w-full h-[239px] shadow-sm;
}

.cardReactions {
  @apply flex font-raleway text-12 items-center select-none;
}

.cardReactions > .icon {
  @apply w-[17px] h-[17px] mr-[10px] text-gray-text-color;
}

.cardReactions > div {
  @apply w-[36px] text-gray-text-color;
}
